<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1037202731666-5vbu8lej4d9q6flg4p0jd5grte03ssqb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1037202731666-5vbu8lej4d9q6flg4p0jd5grte03ssqb</string>
	<key>API_KEY</key>
	<string>AIzaSyBt8URFJXrGje2s2XO3DQDcQrIGgM7KOVQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1037202731666</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.name.socialcoin</string>
	<key>PROJECT_ID</key>
	<string>social-coin-cbe55</string>
	<key>STORAGE_BUCKET</key>
	<string>social-coin-cbe55.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1037202731666:ios:f92e2ef5ef777da34e6c4b</string>
</dict>
</plist>